/* todo: use Bootstrap container instead to style everything
EVERYTHING is in a grid, remember that. Look into using React 
to render front end, because only updates what has changed*/

body {
    /*background-color: #38171a;*/
    font-family: Helvetica;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.left {
    /*text-align: left;*/
    width: 50%;
    float: left;
    min-height: 100%;
}

.right {
    float: right;
    width: 50%;
    /*text-align: right;*/
    min-height: 100%;
}

.food-thumbnail {
    height: 50%;
    margin: 2px;
    display: inline-block;
}

.food-item {
    width: 50%;
    height: auto;
}

/* NEW ADDITIONS */
#carm {
    background-color: #8e5925;
}

#dewick {
    background-color: #417DC1; 
}

div > .btn {
   width: 50px;
   height: 30px;
   margin: 2px;
}

.progress {
    height: 100px;
}

.progress span {
    /*color: #000000;*/
    color: #222;
/*    text-shadow:
       -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
         1px 1px 0 #ffffff;*/
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-top: 40px;
    display: inline-block;
}

@media (max-width: 700px) {
    .progress span {
        font-size: 3em;
    }
}

.food-title {
    width: 50%;
    font-size: 150%;
    font-weight: bold;
    font-family: Philosopher;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 70%;
    margin-left: 2%;
    margin-right: 2%;
}

.food-score {
    width: 50%;
    font-size: 20px;
    font-family: Arial;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.right-block {
    right: 0;
}

.left-block {
    left: 0;
}

.upButton {
    display: block;
    width: 50%;
    float: left;
}

.downButton {
    display: block;
    width: 50%;
    float: right;
}

.food-block:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.food-block {
    width: 48%;
    height: 0;
    padding-top: 48%;
    margin: 1%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.desc {
    width: 100%;
    height: 23%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

@media (max-width: 992px) {
    .food-block {
        width: 98%;
        height: 0;
        padding-top: 98%;
        margin: 1%;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 3px;
        display: inline-block;
    }
}

@media (max-width: 500px) {
    .food-title {
        font-size: 100%;
    }

    .food-score {
        font-size: 15px;
    }

    .voting {
        margin: 20px;
    }
}

.voting {
    margin: 15px;
}